#whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 50px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
  
.fa-whatsapp {
    margin-top: 15px;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-success {
    align-items: center;
    text-align: center;
    margin-top: auto;
    width: auto;
    height: 3rem;
    font-size: 1.2rem
}

.btn-link {
    outline: none;
    color: white;
}

.btn-link:hover {
    color: white;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 18px 12px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #555555;
    transition: all 0.3s ease-in-out;
    margin: 0 4px 10px 4px;
    background: whitesmoke;
    border-radius: 4px;
  }
  
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    background: #7cc576;
    color: #fff;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(21, 21, 21, 0.6);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  
  .portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #7cc576;
  }
  
  .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
  }

/*--------------------------------------------------------------
# Pagina de Agradecimento Pela Cartinha
--------------------------------------------------------------*/

#main-cartinha {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff1226;
}

#main-cartinha section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-cartinha img {
  height: 300px;
}

#main-cartinha h1 {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

#main-cartinha p {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #fff;
  /* text-transform: uppercase; */
}

#main-cartinha a {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #fff;
  background-color: rgb(60, 60, 218);
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  #main-cartinha section {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #main-cartinha h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  #main-cartinha p {
    text-align: center;
    font-size: 1.3rem;
  }
}